// Variable
$resolution: 1200px;
$animation-duration: 0.5s;

// Keyframes
@keyframes rotation-gauche {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-180deg);
    }
}

@keyframes rotation-droite {
    from {
        transform: rotate(-180deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes collapsed {
    from {
        max-height: fit-content;
        opacity: 1;
        padding: 10px 15px;
    }

    to {
        max-height: 0;
        opacity: 0;
        padding: 0px 15px;
    }
}

@keyframes extended {
    from {
        max-height: 0;
        opacity: 0;
        padding: 0px 15px;
    }

    to {
        max-height: fit-content;
        opacity: 1;
        padding: 10px 15px;
    }
}

.collapse__div {
    display: flex;
    flex-direction: column;
    align-content: center;

    .collapse__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 2 * 15px);
        height: 34px;
        padding: 10px 15px;
        border-radius: 5px;
        background-color: #FF6060;

        @media (max-width: $resolution) {
            height: 10px;
            padding: 10px 15px;
        }

        .collapse__title {
            font-size: 18px;
            font-weight: 700;
            color: white;

            @media (max-width: $resolution) {
                font-size: 13px;
            }
        }

        .collapse__button {
            color: white;
            font-size: 32px;

            @media (max-width: $resolution) {
                font-size: 16px;
            }

            #ouvrir {
                animation: rotation-gauche $animation-duration forwards;
            }

            #fermer {
                animation: rotation-droite $animation-duration forwards;
            }
        }
    }

    .collapse__content {
        width: calc(100% - 2 * 15px);
        font-weight: 400;
        font-size: 18px;
        background-color: #f6f6f6;
        border-radius: 5px;
        overflow: hidden;


        &.extended {
            animation: extended $animation-duration forwards;

        }

        &.collapsed {
            animation: collapsed $animation-duration forwards;
            padding: 0px 15px
        }

        p {
            font-size: 18px;

            @media (max-width: $resolution) {
                font-size: 12px;
            }
        }
    }
}