// Variable
$resolution : 1200px;

.button__container {
    display: flex;
    flex-direction: row;
    align-content: center;
    column-gap: 10px;

    .button {
        display: block;
        align-content: center;
        width: fit-content;
        height: 25px;
        background: rgb(255, 96, 96);
        border-radius: 10px;
        color: white;
        font-size: 14px;
        padding: 0 20px;

        @media (max-width: $resolution) {
            height: 18px;
            font-size: 10px;
        }

    }
}